<div id="chat-window" class="well"></div>

<form role="form" class="chat">
  <div class="form-group">
    <label for="msg-text">Type your message:</label>
    <input id="msg-text" type="text" class="form-control" placeholder="Type message and hit return" autofocus>
  </div>
</form>
