<div id="chat-window" class="well"></div>

<form role="form" class="chat">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Type message and hit return" autofocus>
  </div>
</form>
